body{
  background-color: #321e65;
  margin:0;
}
h1, h2, p, button{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color:white;
}
/* p{
  line-height: 50px;
} */
button{
  background-color: rgba(0,0,0,0)
}
img{
  position:absolute;
  max-width:300px;
  max-height:60vh;
}
div{
  margin:0;
}
input{
  width:30px;
}
#replayask{
  display:none;
}
.bodywrap, .chatwrap{
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.spacer{
  height:200px;
}
.chatwrap{
  height:350px;
  width:300px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px #5555;
  background-color: purple;
  justify-content: space-around;
  position:relative;
  z-index:100;
}
ul{
  height:150px;
  overflow:auto;
  list-style:none;
  width:250px;
}
#nameintro{
  transition: opacity 1s;
}
#send, #message{
  opacity:0%;
  transition: opacity 1s;
}
#treeholder{
  position:relative;
  z-index:-5;
}
