.flex{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.innerflex{
  width:100%;
  height:100%;
  justify-content: center;
}
#bcgimg{
  position:absolute;
  z-index: -1;
  width:inherit;
}
.imageflex{
  width:50vw;
  height:50vw;
  max-height:80vh;
}
.outerflex{
  width:100vw;
  height:100vh;
}
.belowflex{
  height:20vh;
}
#clickHere{
  text-decoration: underline;
  cursor: pointer;
}
button{
  cursor: pointer;
}
p, h1, h2{
  text-align: center;
  font-family: sans-serif;
}
#invisible{
  display:none;
}
#mySpan{
  cursor: pointer;
  text-decoration: underline;
}
